body {
  background-color: #f7f7f7;
}
.container {
  padding-top: 10vh;
}

.navbar {
  height: 12vh;
}

header, .card-header {
  background-color: #152238;
  color: white;
}

.card {
  border-radius: 10px;
  box-shadow: 1px 1px 1px #e5e5e5;
}
